<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @page_content.name %>
</p>

<p>
  <b>Content:</b>
  <%= @page_content.content %>
</p>

<p>
  <b>Page:</b>
  <%= @page_content.page_id %>
</p>


<%= link_to 'Edit', edit_page_content_path(@page_content) %> |
<%= link_to 'Back', page_contents_path %>
