<%= form_for(@catalog_section) do |f| %>
  <% if @catalog_section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@catalog_section.errors.count, "error") %> prohibited this catalog_section from being saved:</h2>

      <ul>
      <% @catalog_section.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :key %><br />
    <%= f.text_field :key %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
