<%= form_for @user, :url => { :action => "create_user" } do |f|  %>
   <div class="field">
	<%= f.label :email, "E-mail" %><br />
	<%= f.text_field :email, :size=> 30 %>
    </div>
    <div class="field">
	<%= f.label :password, "Пароль" %><br />
	<%= f.text_field :password, :size=> 30 %>
    </div>
  <div class="actions">
    <%= f.submit "Создать" %>
  </div>
<% end %>