<% require 'rubal_core' %>
<% require 'rubal_core/plugin_manager' %>

<div class="window">
  <div class="title">
    Admin#index Test Menu
  </div>
  <div class="body">
    <div id="MenuTest">
      <!--Debug menu table-->
      <table border="1px">
        <tr>
          <td>Название элемента меню</td>
          <td>Уровень вложенности</td>
          <td>Нод-предок</td>
          <td>Текущий нод</td>
        </tr>
      <%
         # вывод ссылок меню для админки
         # rec_menu_output
         # вывод таблицы меню (дебаг режим)
         def rec_debug_menu_output(menu_node, rec_dep)
           if !menu_node.is_a?(MenuNode)
             return
           end
           h = menu_node.get_hash_node
             sum = ""
             rec_dep.times{
               sum += "--"
             }
          %>

            <tr>
              <td>
                <%= sum %>
                <%= link_to h[:name], h[:url]%>
              </td>
              <td>
                <%= rec_dep %>
              </td>
              <td>
                <%= p "parent=#{menu_node.get_parent}" %>
              </td>
              <td>
                <%= p "self=#{menu_node}" %>
              </td>
            </tr>
          <%  children = menu_node.get_children %>
          <br />
      <%  rec_dep += 1
          children.each{|child|
            if child.is_a?(MenuNode)
              rec_debug_menu_output(child, rec_dep)
            end
          }
          end
          rec_debug_menu_output(@out_mm, 0)
          ##rec_menu_output(@out_mm, 0)
          #@out_mm.get_children
      %>
      </table>

    </div>
  </div>
</div>

