<h1>Все новости</h1>

<table class="table">
  <tr>
    <th>Заголовок</th>
    <th>Раздел</th>
    <th>Содержание</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @news.each do |news| %>
  <tr>
    <td><%= news.header %></td>
    <td><%= NewsTrend.find(news.trend_id).name %></td>
    <td><%= news.content %></td>
    <td><%= link_to '<i class="icon-eye-open"></i>'.html_safe, news_path(news) %></td>
    <td><%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_news_path(news) %></td>
    <td><%= link_to '<i class="icon-remove"></i>'.html_safe, news, confirm: 'Точно?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New News', new_news_path %>
