<div class="page-header"><h2>Все новости</h2></div>
<% @trends.each do |trend| %>
  <div class="news-index-thread skip-last-bottom-border">
    <div class="row">
      <div class="span8"><h1><%= trend[:name] %></h1></div>
      <div class="span1 plus-button-news">
        <%= link_to '<i class="icon-plus icon-white"></i>'.html_safe, create_news_in_trend_path(trend[:id]), :class => "btn btn-small btn-primary" %>
      </div>
    </div>
   <% if trend[:news].blank? %>
     <em>(Новостей еще нет)</em>
     <div></div>
   <% else %>
    <% trend[:news].each do |news| %>
      <div class="news-index skip-last-bottom-border">
        <div class="row">
          <div class="span6">
            <h4><%= news.header %></h4>
          </div>
          <div class="span2">
            <p class="muted"><%= news.date.strftime("%M:%H %d/%m/%Y")  %></p>
          </div>
          <div class="span1">
            <div class="btn-group">
              <%= link_to '<i class="icon-eye-open"></i>'.html_safe, news_path(news), :class => 'btn btn-small'  %>
              <%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_news_path(news) , :class => 'btn btn-small' %>
              <%= link_to '<i class="icon-remove"></i>'.html_safe, news, confirm: 'Точно?', method: :delete , :class => 'btn btn-small' %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="span9">
            <%= truncate_html(news.content, :length => 230)%>
          </div>
        </div>
      </div>
    <% end %>

   <% end %>
  </div>
<% end %>
