<p id="notice"><%= notice %></p>

<p>
  <b>Header:</b>
  <%= @news.header %>
</p>

<p>
  <b>Trend:</b>
  <%= @news.trend_id %>
</p>

<p>
  <b>Content:</b>
  <%= @news.content %>
</p>


<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
