<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @foobar.id %>
</p>

<p>
  <b>Title:</b>
  <%= @foobar.title %>
</p>


<%= link_to 'Edit', edit_foobar_path(@foobar) %> |
<%= link_to 'Back', foobars_path %>
