<%= form_for(@thepage) do |f| %>
  <% if @thepage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@thepage.errors.count, "error") %> prohibited this thepage from being saved:</h2>

      <ul>
      <% @thepage.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :erb_path %><br />
    <%= f.text_field :erb_path %>
  </div>
  <div class="field">
    <%= f.label :vhtml_path %><br />
    <%= f.text_field :vhtml_path %>
  </div>
  <div class="field">
    <%= f.label :page_url %><br />
    <%= f.text_field :page_url %>
  </div>
  <div class="field">
    <%= f.label :used_plugins %><br />
    <%= f.text_field :used_plugins %>
  </div>
  <div class="field">
    <%= f.label :page_title %><br />
    <%= f.text_field :page_title %>
  </div>
  <div class="field">
    <%= f.label :html_returned_by_plugins %><br />
    <%= f.text_field :html_returned_by_plugins %>
  </div>
  <div class="field">
    <%= f.label :parent_page %><br />
    <%= f.number_field :parent_page %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
