<%= render :text => "some_text"  %>
<h1>Listing thepages</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Erb path</th>
    <th>Vhtml path</th>
    <th>Page url</th>
    <th>Used plugins</th>
    <th>Page title</th>
    <th>Html returned by plugins</th>
    <th>Parent page</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @thepages.each do |thepage| %>
  <tr>
    <td><%= thepage.id %></td>
    <td><%= thepage.erb_path %></td>
    <td><%= thepage.vhtml_path %></td>
    <td><%= thepage.page_url %></td>
    <td><%= thepage.used_plugins %></td>
    <td><%= thepage.page_title %></td>
    <td><%= thepage.html_returned_by_plugins %></td>
    <td><%= thepage.parent_page %></td>
    <td><%= link_to 'Show', thepage %></td>
    <td><%= link_to 'Edit', edit_thepage_path(thepage) %></td>
    <td><%= link_to 'Destroy', thepage, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Thepage', new_thepage_path %>
