<h1>Editing thepage</h1>

<% @thepage = Thepage.find(params[:id]) %>
<%=  @thepage.vhtml_path %>



<%= form_tag("", :method => "post") do %>
    <%= label_tag :vhtml_path %><br />
    <%= text_area_tag :message, @vhtml_file_content, :size => "70x#{@count_lines}" %>
    <br/>
    <%= submit_tag("Save") %>
<% end %>
<%= link_to 'Show', @thepage %>
<%= link_to 'Back', thepages_path %>