<h1>Список новостей</h1>
<!--<%= @news.to_a.to_s %>-->
<%= link_to 'Добавить', new_news_path %>
<% get_news_trends.each { |trend| %>
    <h1><%= trend[0] %></h1>
<table>
  <tr>
    <th>Дата</th>
    <th>Заголовок</th>
    <th>Краткий текст</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @news[trend[1]].each do |news| %>
  <tr>
    <td><%= news.date.strftime("%d/%m/%Y") %></td>
    <td><%= news.header %></td>
    <td><%= news.short_text[0..50] + "..." %></td>
    <td><%= link_to 'Показать', news %></td>
    <td><%= link_to 'Ред.', edit_news_path(news) %></td>
    <td><%= link_to 'Удалить', news, confirm: 'Точно?', method: :delete %></td>
  </tr>
<% end %>
</table>
<% } %>
<br />

<%= link_to 'Добавить', new_news_path %>
