<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="span3">
      <a href="#" rel="tooltip" class="form-helper" title="first tooltip">Название</a><br />
      <%= f.text_field :name, :class => 'input-xlarge' %>
    </div>
  </div>

  <% if @allowed_form_fields.include? :title %>
    <div class="row">
      <div class="span3">
        <a href="#" rel="tooltip" class="form-helper" title="first tooltip">Заголовок</a><br />
        <%= f.text_field :title, :class => 'input-xlarge' %>
      </div>
    </div>
  <% end %>

  <% if @allowed_form_fields.include? :url %>
    <div class="row">
      <div class="span9">
        <a href="#" rel="tooltip" class="form-helper" title="first tooltip">URL</a><br />
        <div class="input-append">
          <%= f.text_field :url, :class => 'input-large' %>
          <span class="add-on">.html</span>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="span9">
      <% if @page.type_id.nil? and @selected_page_type_id.nil? %>
          <%= f.label :type_id, "Тип страницы" %><br />
          <%= f.select :type_id, get_types_for_select %>
      <% else %>
          <%= f.hidden_field :type_id %>
         <!-- <%%= render :partial =>  "/news/page_additional_form_fields.html.erb", :locals => { :additional_params => @page.additional_params } %> -->
      <% end %>
    </div>
  </div>

  <% if @allowed_form_fields.include? :layout %>
    <div class="row">
      <div class="span9">
        <%= f.label :layout_id, "Шаблон" %>
        <%= f.select :layout_id, get_layouts_for_select %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="span9">
      <%= f.label :rubhtml_content %>
      <div class="field" id="cm-normal-container">

        <%= f.text_area :rubhtml_content, :class => 'input-xxlarge', :id => 'rubal-vhtml-editor' %>

      </div>
    </div>
    <!--<div class="span3">
      <% @available_substs.each{|s| %>
        <b><%= s[:substitution] %></b><br>
        <i><%= s[:description] %></i><br>
      <% } %>
    </div>-->
  </div>
  <div class="actions">
    <%= f.submit  :value => 'Сохранить', :class => 'btn btn-primary' %>
  </div>
<% end %>


