<h1>Контент</h1>
<h2>Страницы</h2>
<%= link_to 'Новая страница', url_for(:controller => 'pages', :action => 'new', :role => 'page')  %>
<table class="pages_table">
  <tr>
    <th>Название</th>
    <th>Заголовок</th>
    <th>URL</th>
    <th>Шаблон</th>
    <th></th>
    <th></th>
  </tr>

<% @pages.each do |page| %>
  <tr>
    <td><%= page.name %></td>
    <td><%= page.title %></td>
    <td><a href="/<%= page.url %>.html">/<%= page.url %>.html</a></td>
    <td><%= get_page_name page.template %></td>
    <td><%= link_to 'Править', edit_page_path(page) %></td>
    <td><%= link_to 'Удалить', page, confirm: 'Точно?', method: :delete %></td>
  </tr>
<% end %>
</table>
<h2>Шаблоны</h2>
<%= link_to 'Новый шаблон', url_for(:controller => 'pages', :action => 'new', :role => 'template')  %>
<table class="pages_table">
  <tr>
    <th>Название</th>
    <th>Используется</th>
    <th></th>
    <th></th>
  </tr>

<% @templates.each do |page| %>
  <tr>
    <td><%= page.name %></td>
    <td style="text-align:center;"><%= get_template_uses page.id%></td>
    <td><%= link_to 'Править', url_for(:controller => 'pages', :action => 'edit', :id => page.id, :role => 'templates') %></td>
    <td><%= link_to 'Удалить', page, confirm: 'Точно?', method: :delete %></td>
  </tr>
<% end %>
</table>
<h2>Чанки</h2>
<%= link_to 'Новый чанк', url_for(:controller => 'pages', :action => 'new', :role => 'chunk')  %>
<table class="pages_table">
  <tr>
    <th>Название</th>
    <th>Подстановка</th>
    <th></th>
    <th></th>
  </tr>

<% @chunks.each do |page| %>
  <tr>
    <td><%= page.name %></td>
    <td><b>[[chunk:<%= page.url %>]]</b></td>
    <td><%= link_to 'Править', edit_page_path(page) %></td>
    <td><%= link_to 'Удалить', page, confirm: 'Точно?', method: :delete %></td>
  </tr>
<% end %>
</table>
<h2>Новостные шаблоны</h2>
<%= link_to 'Новый шаблон новости в списке', url_for(:controller => 'pages', :action => 'new', :role => 'news_short')  %><br />
<%= link_to 'Новый шаблон одной новости', url_for(:controller => 'pages', :action => 'new', :role => 'news_full')  %><br />

<b>Если несколько, использоваться будет последний отредактированный</b>
<table class="pages_table">
  <tr>
    <th>Название</th>
    <th>Тип</th>
    <th></th>
    <th></th>
  </tr>

<% @news_templates.each do |page| %>
  <tr>
    <td><%= page.name %></td>
    <td><%= get_role_name page.role%></td>
    <td><%= link_to 'Править', edit_page_path(page) %></td>
    <td><%= link_to 'Удалить', page, confirm: 'Точно?', method: :delete %></td>
  </tr>
<% end %>
</table>
<br />

<%= link_to 'Новый элемент', new_page_path %>
