<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @page.name %>
</p>

<p>
  <b>Title:</b>
  <%= @page.title %>
</p>

<p>
  <b>Url:</b>
  <%= @page.url %>
</p>

<p>
  <b>Type:</b>
  <%= @page.type %>
</p>

<p>
  <b>Layout:</b>
  <%= @page.layout %>
</p>

<p>
  <b>Erb path:</b>
  <%= @page.erb_path %>
</p>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Назад', pages_path %>
