<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= (@admin_action_name.nil?) ? "" : @admin_action_name + " - "%>Rubal CMS</title>

  <link rel="stylesheet" href="/codemirror/lib/codemirror.css">
  <script src="/codemirror/lib/codemirror.js"></script>

  <script src="/codemirror/lib/util/multiplex.js"></script>
  <script src="/codemirror/mode/xml/xml.js"></script>
  <script src="/codemirror/mode/htmlmixed/htmlmixed.js"></script>
  <script src="/codemirror/mode/css/css.js"></script>
  <script src="/codemirror/mode/javascript/javascript.js"></script>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>

  <script type="text/javascript">
      <% if params[:notice] %>
      alert("<%=params[:notice]%>");
      <% end %>

      $(document).ready(function() {
        <% if params[:edit_wysiwyg] || @enable_wysiwyg %>
          $('textarea.wysiwyg').tinymce({
              script_url : '/tiny_mce/tiny_mce.js',
              plugins : "youtubeIframe",
              theme: 'advanced',
              theme_advanced_buttons2_add : "youtubeIframe",
              //valid_elements_add:"iframe[src|title|width|height|allowfullscreen|frameborder|class|id],object[classid|width|height|codebase|*],param[name|value|_value|*],embed[type|width|height|src|id|name|flashvars|bgcolor|allowfullscreen|allowscriptaccess|*]"
              valid_elements: "*[*]",
              extended_valid_elements: "embed[width|height|name|flashvars|src|bgcolor|align|play|loop|quality|allowscriptaccess|type|pluginspage]",
          });
        <% else %>
          initCodeEditor();
        <% end %>
      });


  </script>

</head>
<body>
<div class="container">
    <div id="cm-fullscreen-container">

    </div>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            <li><img src="/assets/header-logo-small.png" /></li>

          </ul>
          <ul class="nav pull-right">
            <li class="dropdown">
              <% unless current_user.nil? %>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="icon-user"></i> <%= current_user.email %><b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to('Редактировать', edit_user_registration_path, confirm: 'Точно?') %></li>
                  <li class="divider"></li>
                  <li><%= link_to('Выйти', :sign_out) %></li>
                </ul>
              <% end %>
            </li>
          </ul>

        </div>
      </div>
    </div>

  <div class="row">
    <div class="span3">
      <%= render('menu/admin_menu') %>
    </div>
    <div class="span9">

      <% unless alert.blank? %>
        <div class="alert">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <i class="icon-hand-right"></i> <%= alert %>
        </div>
      <% end %>

      <% unless notice.blank? %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <i class="icon-ok"></i> <%= notice %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </div>

</div>
</body>
</html>
