<!DOCTYPE html>
<html>
<head>
  <title>Rubal</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= form_for("user", :url => user_session_path) do |f| %>
    <%= f.text_field :email %>
    <%= f.password_field :password %>
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me %>
    <%= f.submit 'Sign in' %>
    <%= link_to "Forgot your password?", new_password_path('user') %>
<% end %>
<!--
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<p class="sign">
  <%= link_to 'Sign up', 'users/sign_up' %>
  <%= link_to 'Sign in', 'users/sign_in' %>
</p>
-->

<!--UserLogin/out-->
<% if user_signed_in? %>
    <li>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    </li>
<% else %>
    <li>
      <%= link_to('Login', new_user_session_path)  %>
    </li>
<% end %>
<!--UserSignin/out-->
<% if user_signed_in? %>
    <li>
      <%= link_to('Edit registration', edit_user_registration_path) %>
    </li>
<% else %>
    <li>
      <%= link_to('Register', new_user_registration_path)  %>
    </li>
<% end %>
<!--
[[blorgh:lala]]     =>              <%= render '/blorgh/lala' %>
-->
<div id="header">
  <div id="header-top">
    <a href="#">Home</a>
    <a href="#">About</a>
    <a href="#">Contacts</a>
  </div>
  <div id="header-bottom" class="gradient">
    <div id="header-text">
      <!--Main Menu will be here-->
      <div id="menu">
      <%
         # рекурсивный обход меню (обход в глубину)
         def rec_menu_output(menu_node, rec_dep)
           # если класс не MenuNode, обход не делаем
           if !menu_node.is_a?(MenuNode)
             return
           end
           # получаем хэш МенюНода
           # e.g.: [:name => 'Новости', :url => 'googlonews.ru' ]
           h = menu_node.get_hash_node
      %>
          <div class="div_menu_node" style="float:left;">
      <%= link_to h[:name], h[:url], :class => "menu_node"%>
          </div>
      <%
         children = menu_node.get_children
         rec_dep += 1
         children.each{|child|
           if child.is_a?(MenuNode)
             rec_menu_output(child, rec_dep)
           end
         }
         end
         rec_menu_output(@out_mm,0)
      %>
      </div>
    </div>
    <div id="header-logo"><a href="http://rubalcms.org"><img src="/assets/header-logo.png" alt="Rubal CMS"/></a></div>
  </div>
</div>

<div id="main" >
  <%= yield %>
  <%= yield :plugin_name %>
</div>

<div id="footer" class="gradient">
</div>
</body>
</html>
